<p id="notice"><%= notice %></p>

<h1>Corgis</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Size</th>
      <th>Price</th>
      <th>Name</th>
      <th>Image</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corgis.each do |corgi| %>
      <tr>
        <td><%= corgi.description %></td>
        <td><%= corgi.size %></td>
        <td><%= corgi.price %></td>
        <td><%= corgi.name %></td>
        <td><%= corgi.image %></td>
        <td><%= corgi.color %></td>
        <td><%= link_to 'Show', corgi %></td>
        <td><%= link_to 'Edit', edit_corgi_path(corgi) %></td>
        <td><%= link_to 'Destroy', corgi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corgi', new_corgi_path %>
