<section class="page"><div class="centered-box">
	<img src="http://placekitten.com/g/300/300" >
	<h1><%= @corgi.name %></h1>

	<table>
	<tr>
			<th>Attribute</th>
			<th>Value</th>
	</tr>
	<% [:name, :size, :color, :description].each do |attr_name| %>
			<tr>
				<td><%= attr_name %></td>
				<td><%= @corgi.send(attr_name) %></td>
			</tr>
	<% end %>
	</table>

	<br>
	<div class="description">
		<%= @corgi.send(:description)%>
	</div>

	<% if @corgi.user.name == current_user %>
		<br>
		<%= link_to "Edit #{@corgi.name}", edit_corgi_url(@corgi), :class => "button" %>
	<% end %>

	<br>

	<% if logged_in? %>
	<br>
		<%= link_to 'Make new request', new_corgi_rental_request_url(corgi_id: @corgi.id), :class => "button" %>
	<% end %>
</div></section>
