<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @corgi.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @corgi.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @corgi.price %>
</p>

<p>
  <strong>Name:</strong>
  <%= @corgi.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @corgi.image %>
</p>

<p>
  <strong>Color:</strong>
  <%= @corgi.color %>
</p>

<%= link_to 'Edit', edit_corgi_path(@corgi) %> |
<%= link_to 'Back', corgis_path %>
